<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card border-0 mb-4 no-bg">
                    <div class="card-header py-3 px-0 d-flex align-items-center  justify-content-between border-bottom">
                        <h3 class=" fw-bold flex-fill mb-0">Blogs</h3>
                        <div class="col-auto d-flex">
                            <button type="button" class="btn btn-dark ms-1 " data-bs-toggle="modal"
                                data-bs-target="#createproject"><i class="icofont-plus-circle me-2 fs-6"></i>Add
                                Blog</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
        <div
            class="row g-3 row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 row-deck py-1 pb-4">
            <span *ngFor="let blog of blog_list">
                <app-blog-card [blog]="blog"></app-blog-card>
            </span>
        </div>
    </div>
</div>

<!-- Create Client-->
<div class="modal fade" id="createproject" tabindex="-1" aria-hidden="true">
    <app-blog-model [Header]="'Add Blog'" [Path]="'Blogs'"></app-blog-model>
</div>